{% extends "base.html" %}

{% block content %}
<div id="user-form-view">
    <div id="user-form-description">
        <h1 class="title color">Voices of Hope</h1>
        <p class="page-description">
            We invite you to share your personal experiences related to CPS/DCFS cases in the Utah
            family court system. Your stories can help shed light on the issues and challenges faced
            by families and individuals in these cases. We will publish your stories on our Facebook
            page and include them in our upcoming documentary. Please keep in mind that we have a
            zero-tolerance policy for profanity, threats, or any other negative content. We want to
            ensure a respectful and informative discussion for all those involved.
        </p>
        <p class="page-description">Thank you for your willingness to share your story with us.</p>
    </div>
    <div class="b-color" id="user-form-questionnaire">
        <h1 class="second-color">Questionnaire</h1>
        <form method="post" >
            {% csrf_token %}
            {% for fild in form %}
            <div class="field">
                {{ fild.label_tag }}
                {{ fild }}
            </div>
            {% endfor %}
            <button type="submit">Confirm</button>
        </form>
    </div>
</div>
{% endblock %}