{% extends "base.html" %}


{% block content %}
<div id="apps-section" class="resources">
    <h1 class="title color">Apps</h1>
    <p class="page-description"></p>
    <div class="resources-content">
        <div class="app b-color">
            <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple116/v4/dc/22/87/dc228720-8910-2ac3-49cb-66f3a73215c0/AppIcon-0-1x_U007emarketing-0-10-0-85-220.png/230x0w.webp" alt="">
            <div>
                <a href="https://apps.apple.com/us/app/endel-focus-sleep-relax/id1346247457">
                    Endel: Focus, Sleep, Relax
                </a>
                <p>
                    Endel is powered by its patented core AI technology.
                    It takes inputs like location, environment, and heart rate,
                    to create the optimal personalized soundscape. This happens
                    on the fly and allows Endel to reconnect your state with your circadian rhythm
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}