<div id="documents-section" class="sections">
    <h1 class="title color">Documents</h1>
    <p>
        Check out documents on parental alienation. We
        tried to collect fascinating and informative
        videos that would not only open your eyes, but also
        help you start solving your problem.
    </p>
    <div id="documents">
        {% for document in documents %}
            <div class="document b-color">
                <p class="second-color">{{ document }}</p>
                <a href="/resources/{{ document }}">Download</a>
            </div>
        {% endfor %}
    </div>
</div>