{% extends "base.html" %}


{% block content %}
<div id="links-section" class="resources">
    <h1 class="title color">Links</h1>
    <p class="page-description">
        The following links are dedicated to the topic of parental alienation
        and aim to provide a comprehensive understanding of this complex issue.
        So, dive in and start changing your life today!
    </p>
    <div id='links' class="resources-content">
        {% for link_section in links_sections %}
        <div class="link">
            <h4 class="second-color b-color">{{ link_section }}</h4>
            <div class="link-content">
                {% for link in links %}
                {% if link.title == link_section %}
                <a href="{{ link.url }}">{{ link.url_title}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}