{% extends "base.html" %}


{% block content %}
<div id="videos-section" class="resources">
    <h1 class="title">Videos</h1>
    <p class="page-description">
        Check out our playlists on parental alienation. We
        tried to collect fascinating and informative
        videos that would not only open your eyes, but also
        help you start solving your problem.
    </p>
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            src="https://www.youtube.com/embed/videoseries?list=PLJhPJcXPjBd1W1wMOFsKTMC4uZU02gGsi"
            class="resources-content" title="YouTube video player" frameborder="0" allowfullscreen>
    </iframe>
</div>
{% endblock %}