{% load static %}

<div id="main-fight" class="b-color">
  <h1 class="title" id="main-fight-title">FIGHTING FOR OUR CHILDREN</h1>
  <div id="fights">
    <div class="fight">
      <img src="{% static 'img/main-page/fight_1.png' %}" alt="" class="img fight-img">
      <div class="fight-text">
        <h3>Appeals</h3>
        <p>We help you find resources for your struggle</p>
      </div>
    </div>
    <div class="fight">
      <img src="{% static 'img/main-page/fight_2.png' %}" alt="" class="img fight-img">
      <div class="fight-text">
        <h3>Lobbying</h3>
        <p>We push for governments USA to protect family and children.</p>
      </div>
    </div>
    <div class="fight">
      <img src="{% static 'img/main-page/fight_3.png' %}" alt="" class="img fight-img">
      <div class="fight-text">
        <h3>Information</h3>
        <p>We create and share reports, fact sheets, and videos on the state problem of parental alienation.</p>
      </div>
    </div>
  </div>
</div>