<div id="numbers">
  <h1 id="numbers-title" class="main-title color">IT'S NOT JUST NUMBERS</h1>
  <div id="numbers-content">
    <div class="number-content">
      <h3 class="number-content-title color">11% - 15%</h3>
      <p class="number-content-text">Of divorce cases is parental alienation </p>
    </div>
    <div class="number-content">
      <h3 class="number-content-title color">60%</h3>
      <p class="number-content-text">Of alienating youth, aged 18–21 years, had impaired emotional functioning</p>
    </div>
    <div class="number-content">
      <h3 class="number-content-title color">84%</h3>
      <p class="number-content-text">
        Of alienating youth had difficulty forming secure intimate
        relationships, and emotional dysfunction was found more frequently.
      </p>
    </div>
  </div>
</div>