{% load static %}

<div id="test-main">
    <img src="{% static 'img/main-page/test.png' %}">
    <div id="test-main-description">
        <h1>Parental Alienation Test</h1>
        <p>
            Welcome to our Parental Alienation Test. This test is designed to help
            determine the likelihood of parental alienation in a particular situation.
            To begin, please click the 'Take Test' button. Your results will be calcul
            ated and displayed upon completion of the test. Thank you for choosing to
            take this important step in understanding the potential impact of parental
            alienation. Let's get started!"
        </p>
        <a href="/test">Take Test</a>
    </div>
</div>