{% load static %}
<div id="who-we-are">
    <div id="who-we-are-content">
        <h1 class="main-title color">WHO WE ARE?</h1>
        <div id='who-we-are-text' class="content">
            <p>
                It doesn't matter what brought you to our community,
                we believe that we can empower and inspire you to overcome
                any challenges you might be facing, any trauma you may have
                endured. Join us in our shared mission to bring about change
                in our society that can create a paradigm shift in the world
                and prevent all forms of abuse. The time is now.
            </p>
            <p>
                We welcome you and any of your positive feedback, ideas,
                stories, and any messages of hope that you can share with others.
            </p>
            <p>Help protect the future of children and humanity.</p>
<!--            <p>-->
<!--                We do not make a profit, and therefore we want to turn to you-->
<!--                for help. Help us pay for the work of people to develop and pay-->
<!--                for the site's servers.-->
<!--            </p>-->
<!--            <button class="b-color second-color">Support us</button>-->
        </div>
    </div>
</div>