{% load static %}

<div id="who-we-are">
    <div id="who-we-are-content">
        <h1 class="title green">WHO WE ARE?</h1>
        <div id='who-we-are-text' class="content">
            <p>
                "Voices of Hope" - is a community-based organization developed by
                individuals who have experienced trauma within the United States Family
                law System. Facebook group is dedicated to empowering the voices and
                messages of hope from the healers, heroes and victims who have overcome
                or are still oppressed and struggling true trauma, within the family
                law system in the United States.
            </p>
            <p>
                The main focus of community is to empower awareness and resources to create
                Global change and stop all abuse trauma and neglect that is occurring right
                now within millions of cases across America.
                All forms of domestic violence like abuse, oppression or manipulation of their
                children must be identified and stopped immediately.
            </p>
        </div>
    </div>
    <div id="who-we-are-img">
        <img src="{% static 'img/main-page/who-we-are.png' %}" alt="" class="img who-we-are-img">
    </div>
</div>