{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="help-us">
    <h1 id="help-us-title">Help Us</h1>
    <div id="help-us-pay">
        <p class="help-us-text">
            Our community is non-profit. We do not make a profit, and therefore we want to ask you for help.
            Help us with translation for development and payment for site servers.
        </p>
    </div>
    <div id="help-us-developer">
        <p class="help-us-text">
            If you are a developer, join the development. We will appreciate any help >>>
            <a href="https://github.com/vladibuyanov/VOH">
                <img src="{% static 'img/svg/git.svg' %}" alt="" id="help-us-developer-img">
            </a>
        </p>

    </div>
</div>
{% endblock %}