{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="help-us">
    <h1 id="help-us-title" class="color">Help Us</h1>
    <div id="help-us-pay" class="b-color">
        <p class="help-us-text">
            Our community is non-profit. We do not make a profit,
            and therefore we want to turn to you for help.
            Help us pay for the work of people
            to develop and pay for the site's servers.
        </p>
        <div class="help-us-bd"><button class="help-us-btn">Help us</button></div>
    </div>
    <div id="help-us-developer" class="b-color">
        <p class="help-us-text">
            If you are a developer, join the development.
            We will appreciate any help.
        </p>
        <div class="help-us-bd">
            <a href="https://github.com/vladibuyanov/VOH" class="help-us-dev-btn">
                <img src="{% static 'img/svg/git.svg' %}" alt="" id="help-us-developer-img">
            </a>
        </div>
    </div>
</div>
{% endblock %}