{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="navigation">
    <h1 id="navigation-title" class="color">Links</h1>
    <div id="navigation-links">
        <button class="navigation-btn">Collaborative Divorce Resources</button>
        <button class="navigation-btn">Collaborative Co-parenting Mediation Resources</button>
        <button class="navigation-btn">Assessments and Screeners</button>
        <button class="navigation-btn">Consultation and Therapy Services</button>
        <button class="navigation-btn">Co-parenting Mediation Program</button>
    </div>
</div>

<div id="links">
    <div class="link">
        <h1 class="link-title">Collaborative Divorce Resources</h1>
        {% for link in links %}
            {% if link.title == 'Collaborative Divorce Resources' %}
            <div class="link-content">
                <a href="{{ link.url }}" class="link-content-link">{{ link.url_title}}</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="link">
        <h1 class="link-title">Collaborative Co-Parenting Mediation Resources</h1>
        {% for link in links %}
            {% if link.title == 'Collaborative Co-Parenting Mediation Resources' %}
            <div class="link-content">
                <a href="{{ link.url }}" class="link-content-link">{{link.url_title}}</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="link">
        <h1 class="link-title">Assessments and Screeners</h1>
        {% for link in links %}
            {% if link.title == 'Assessments and Screeners' %}
            <div class="link-content">
                <a href="{{ link.url }}" class="link-content-link">{{ link.url_title}}</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="link">
        <h1 class="link-title">Consultation and Therapy Services</h1>
        {% for link in links %}
            {% if link.title == 'Consultation and Therapy Services' %}
            <div class="link-content">
                <a href="{{ link.url }}" class="link-content-link">{{ link.url_title}}</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="link">
        <h1 class="link-title">Co-parenting Mediation Program</h1>
        {% for link in links %}
            {% if link.title == 'Co-parenting Mediation Program' %}
            <div class="link-content">
                <a href="{{ link.url }}" class="link-content-link">{{ link.url_title}}</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/links.js' %}"></script>
{% endblock %}
