{% extends "base.html" %}

{% block content %}
<div class="links">
    <h1 id="links-title">Links</h1>
    <div id="links-links">
        <a href="" class="links-link">Collaborative Divorce Resources</a>
        <a href="" class="links-link">Collaborative Co-parenting Mediation Resources</a>
        <a href="" class="links-link">Assessments and Screeners</a>
        <a href="" class="links-link">Consultation and Therapy Services</a>
        <a href="" class="links-link">Co-parenting Mediation Program</a>
    </div>
</div>
<div class="links">
    <div class="link">
        <h1>Collaborative Divorce Resources</h1>
        <a>link</a>
    </div>
    <div class="link">
        <h1>Collaborative Co-parenting Mediation Resources</h1>
        <a>link</a>
    </div>
    <div class="link">
        <h1>Assessments and Screeners</h1>
        <a>link</a>
    </div>
    <div class="link">
        <h1>Consultation and Therapy Services</h1>
        <a>link</a>
    </div>
    <div class="link">
        <h1>Co-parenting Mediation Program</h1>
        <a>link</a>
    </div>
</div>
{% endblock %}
