{% extends "base.html" %}
{% load static %}

{% block content %}
<div id='resources'>
    <div id='resources-navigation' class="b-color">
        <button id='link-btn' class="resources-navigation-btn second-color">Links</button>
        <button id='video-btn' class="resources-navigation-btn second-color">Videos</button>
        <button id='document-btn' class="resources-navigation-btn second-color">Documents</button>
        <button id='app-btn' class="resources-navigation-btn second-color">Apps</button>
    </div>
    <div id='resources-content'>
        {% include 'pages/resources-blocks/links.html' %}
        {% include 'pages/resources-blocks/videos.html' %}
        {% include 'pages/resources-blocks/documents.html' %}
        {% include 'pages/resources-blocks/apps.html' %}
    </div>
</div>

<script src="{% static 'js/resources.js' %}"></script>
{% endblock %}
