{% extends "base.html" %}

{% block content %}
<div id="user-form">
    <div>
        <h1 id="user-form-title" class="color">Voices of Hope</h1>
        <p class="user-form-text">
            Share your stories, and we'll publish them on our Facebook
            page and include them in our documentary.
        </p>
        <p class="user-form-text">Please don't use profanity or threats, or anything negative.</p>
    </div>
    <form method="post" class="b-color">
        {% csrf_token %}
        {% for fild in form %}
        <div class="field">
            {{ fild }}
        </div>
        {% endfor %}
        <button type="submit" id="submit-btn">Send</button>
    </form>
</div>
{% endblock %}