{% extends "base.html" %}
{% load static %}
{% load blog_tags %}

{% block content %}
<div id="videos-section" class="resources">
    <h1 class="title">Videos</h1>
    <p class="page-description">
        Check out our playlists on parental alienation. We
        tried to collect fascinating and informative
        videos that would not only open your eyes, but also
        help you start solving your problem.
    </p>
    {% video_posts as videos %}
    <div id="videos">
        {% for video in videos %}
        <div class="video b-color">
            <h6 class="second-color">{{ video.title }}</h6>
            <a href="{{ video.get_absolute_url }}">Watch video...</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
