{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="test">
    <div id="test-description">
        <h1 class="title color">Parental Alienation Test</h1>
        <p>
            This test is designed to determine the presence
            of parental alienation. It consists of a series
            of questions related to the relationship between
            a parent and their child. The questions explore
            the child's behavior and feelings, as well as the
            behavior of the other parent, in order to determine
            if there is any evidence of intentional interference
            with the parent-child relationship. The results of
            this test can provide a starting point for further
            evaluation and intervention to address parental
            alienation and help restore a healthy relationship
            between the parent and child.
        </p>
    </div>
    <form method="post" id="test-form">
        {% csrf_token %}
        <ol>
            {% for field in form %}
            <li>
                <p>{{ field.label }}</p>
                <div class="test-field">
                    {% for radio in field %}
                        {{ radio }}
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ol>
        <button type="submit" value="Submit" id='test-submit-btn'>Submit</button>
    </form>
</div>
{% endblock %}