.help-us-text {font-size: 25px;}

#help-us {padding: 5%;}
#help-us-title {
    font-family: "Quicksand";
    font-size: 80px;
    margin-bottom: 5%;
}
#help-us-pay {}
#help-us-developer {}

#help-us-developer-img {width: 4%;}
