.main-title {
    font-size: 50px;
}
.content {padding: 2% 0;}
.main-div {height: 100vh;}
.img {width: 100%;}


/* Main page */
#main-page {
    height: 35rem;
    background-image: url(../img/main-page/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
#mane-page-title {
    font-size: 80px;
    text-align: center;
}
#mane-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-page-text {
    width: 50%;
    text-align: center;
    font-size: 20px;
}
#main-page-btn {
    padding: 1% 10%;
    font-size: 15px;
    border-color: white;
    color: white;
}

/* Who we are */
#who-we-are {
    background-image: url(../img/main-page/who-we-are-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F4F1EC;
 }
#who-we-are-content {
    width: 50%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#who-we-are-text button {
    padding: 2% 5%;

    border: 1px solid;
    border-color: white;

    font-size: 20px;
}


/* Fight */
#main-fight {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#main-fight-title {
    margin: 4% 2%;
    width: 95%;
}
#fights {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.fight {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}
.fight-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.fight-text h3 {
    width: 100%;
    margin: 5%;
    vertical-align: middle;
}
.fight img {border: 3px solid;}

/* Online-group */
#online-group {display: flex;}
#online-group-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10%;
}
#online-group-title {
    font-size: 50px;
    font-weight: bolder;
}
.online-group-text {
    font-size: 18px;
    margin-top: 2%;
}
#sign-up-btn {
    margin-top: 5%;
    background-color: transparent;
    border: 1px solid;
    border-color: #CBB2A4;
    font-size: 20px;
    padding: 0 10%;
}
#sign-up-btn:hover {}
#online-group-img { width:50%; }

#modal {
    padding: 1% 5% 5% 5%;
    display: none;
    flex-direction: column;
    align-items: center;
}
#close-modal-div {
    margin: 2%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#close-modal {
    margin: 1% 5%;
    font-size: 25px;
    border: none;
    background-color: #0000;
    color: white;
}
#modal-form {padding: 2% 5% 5% 5%;}
#modal-title {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    /*font-family: "Archivo+Black";*/
}
#modal-text {text-align: center;}
#modal-email {
    margin-bottom: 5%;
    width: 100%;
    padding: 5%;
    border-color: white;
    border: 1px solid;
}

/* PA Test */
#test-main {
    height: 15%;
    display: flex;
    align-items: center;
    background-image: url(../img/main-page/test.png);
    background-repeat: no-repeat;
    /* backdrop-filter: blur(8px); */
    background-size: 100%;
}
#test-main img {width: 60%; padding: 3%;}
#test-main-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    width: 30%;
}
#test-main-description h1 {margin-bottom: 5%;}
#test-main-description p {font-size: 15px;}
#test-main-description a {
    border: 1px solid;
    padding: 1% 4%;
    color: white;
}

/* Numbers */
#numbers {
    height: 40rem;
    padding: 5%;
    background-image: url(../img/main-page/number.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    justify-content: space-between;
}
#numbers-title {
    width: 30%;
    height: 80%;
    margin-left: 5%;
    font-size: 60px;
}
#numbers-content {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.number-content {
    display: flex;
    flex-direction: column;
}
.number-content-title {
    /*font-family: "Archivo+Black";*/
    font-weight: bolder;
    font-size: 40px;
}

/* Contact Us */
#contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
}
#contact-us h1 {
    font-size: 90px;
    margin-bottom: 5%;
    text-align: center;
}
#contact-us-btn {
    background-color: transparent;
    border: 1px solid;
    border-color: white;
    padding: 2% 15%;
    font-size: 20px;
    color: white;
}
#contact-us-btn:hover {
    border: 1px solid;
    background-color: white;
    color: #35250E;
}


/* Buttons */
.button {
    background-color: transparent;
    border: 1px solid;
}
.button:hover {
    background-color: black;
    color: white;
    border-color: white;
}
