.main-title {font-size: 50px;}
.content {padding: 2% 0;}
.main-div {height: 100vh;}
.img {width: 100%;}


/* Main page */
#main-page {
    height: 40rem;
    background: url(../img/main-page/home.png) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#main-page h1 {
    width: 80%;
    font-size: 80px;
    text-align: center;
}
#main-page button {
    padding: 1% 10%;
    font-size: 15px;
    border-color: #F4F1EC;
    background-color: #0000002e;
}
#main-page button:hover {background-color: #0000009e;}

/* Who we are */
#who-we-are {
    background: #F4F1EC url(../img/main-page/who-we-are-1.png) no-repeat right;
}
#who-we-are-content {
    width: 50%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#who-we-are-content button {
    width: 90%;
    padding: 2% 5%;
    border: none;
    font-size: 20px;
}


/* Fight */
#main-fight {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#main-fight h1 {
    margin: 4% 0;
    width: 95%;
}

#fights {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.fight {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}
.fight-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.fight-text h3 {
    width: 100%;
    margin: 5%;
    vertical-align: middle;
}
.fight img {border: 3px solid;}

/* Online-group */
#online-group {display: flex;}
#online-group-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10%;
}
#online-group-title {
    font-size: 50px;
    font-weight: bolder;
}
.online-group-text {
    font-size: 18px;
    margin-top: 2%;
}
#sign-up-btn {
    margin-top: 5%;
    background-color: transparent;
    border: 1px solid;
    border-color: #CBB2A4;
    font-size: 20px;
    padding: 0 10%;
}
#sign-up-btn:hover {}
#online-group-img { width:50%; }

#modal {
    padding: 1% 5% 5% 5%;
    display: none;
    flex-direction: column;
    align-items: center;
}
#close-modal-div {
    margin: 2%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#close-modal {
    margin: 1% 5%;
    font-size: 25px;
    border: none;
    background-color: #0000;
    color: white;
}

#modal-form {
    width: 80%;
    padding: 2% 5% 5% 5%;
}
#modal-form input {
    width: 100%;
    margin-bottom: 5%;
}
#modal-form button {width: 100%;}

#modal-title {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    /*font-family: "Archivo+Black";*/
}
#modal-text {text-align: center;}
#modal-email {
    margin-bottom: 5%;
    width: 100%;
    padding: 5%;
    border-color: white;
    border: 1px solid;
}

/* PA Test */
#test-main {
    display: flex;
    align-items: center;
    background: url(../img/main-page/test.png) no-repeat;
    background-size: 100%;
    /* backdrop-filter: blur(8px); */
}
#test-main img {width: 55%; padding: 3%;}
#test-main-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    padding: 5% 0;
}
#test-main-description h1 {margin-bottom: 5%;}
#test-main-description p {font-size: 13px;}
#test-main-description a {
    border: 1px solid;
    padding: 1% 4%;
}

.test-field label {width: 30%;}

/* Numbers */
#numbers {
    height: 40rem;
    padding: 5%;
    background: url(../img/main-page/number.png) no-repeat left bottom/cover;
    display: flex;
    justify-content: space-between;
}
#numbers h1 {
    margin: 0;
    width: 40%;
    font-size: 63px;
    padding-bottom: 5%;
}
#numbers-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10%;
}
.number-content {
    display: flex;
    flex-direction: column;
}
.number-content h3 {
    /*font-family: "Archivo+Black";*/
    font-weight: bolder;
    font-size: 40px;
}

/* Contact Us */
#contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
}
#contact-us h1 {
    font-size: 90px;
    margin-bottom: 5%;
    text-align: center;
}
#contact-us a {
    background-color: transparent;
    border: 1px solid;
    border-color: white;
    padding: 2% 15%;
    font-size: 20px;
}
#contact-us a:hover {
    border: 1px solid;
    background-color: white;
    color: #35250E;
}


/* Buttons */
.button {
    background-color: transparent;
    border: 1px solid;
}
.button:hover {
    background-color: black;
    color: white;
    border-color: white;
}
