#posts {padding: 5%;}
#posts-title {
    font-family: "Quicksand";
    font-size: 80px;
    padding: 3%;
}
.post {
    padding: 2%;
    margin: 2% 3%;
    color: white;
}
.post-time {font-style: italic;}