#posts_view {padding: 5%; min-height: 90vh;}
#posts {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.post {
    padding: 2%;
    margin: 2%;
    width: 30%;
}
.post-time {font-style: italic;}

#post_view {padding: 5% 8%; min-height: 90vh;}
#post_view h1 {padding: 0;}
#post_view div {padding: 2% 1%;}
#post_view pre {font-family: "Cinzel", sans-serif;}