.title {
    padding: 0 3%;
    font-size: 80px;
    font-weight: 400;
}


#navigation {padding: 5%;}
#navigation-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 3%;
}
.navigation-btn {
    width: 33%;
    padding: 2%;
    font-size: large;
    background: #0000;
    border: none;
    display: flex;
    text-align: start;
}
.navigation-btn:hover {
    background-color: #35250E;
    color: white;
}


#links {
    padding: 0 7% 3% 7%;
}
.link {margin-bottom: 2%;}
.link-title {
    font-size: x-large;
    padding: 2%;
    background-color: #CBB2A4;
 }
.link-content {padding: 1% 2%;}


#videos {padding: 5%;}
#videos h1 {}
#videos p {padding: 0 3%; margin-bottom: 5%; font-size: 20px;}
iframe {padding: 0 3%; width: 100%; height: 350px;}