#user-form {padding: 5%;}

.user-form-text {
    font-size: 25px;
    padding: 1% 4%;
}

form {
    margin: 0 3%;
    padding: 3%;
}
.field {
    padding: 2%;
    font-size: 25px;
    width: 100%;
}
label {color: white; width: 100%; margin-bottom: 2%;}
input {
    border: none;
    width: 100%;
    background-color: #0000;
    color: white;
}
input::placeholder {
    color: white;
    opacity: 1;
}
textarea {
    border: none;
    width: 100%;
    background-color: #0000;
    color: white;
}
textarea::placeholder {
    color:white;
    opacity: 1;
}
select {width: 50%;}

#submit-btn {
    color: white;
    font-size: 25px;
    border: 1px solid;
    border-color: white;
    background-color: #0000;
    width: 100%;
}
#submit-btn:hover {
    border-color: white;
    background-color: black;
    color: white;
}


/* Stories Add */
#stories-add {}
#stories-add-back {
    font-size: 30px;
    padding: 3%;
    color: #ababab;
}