#user-form {padding: 5%;}

#user-form-description p {
    font-size: 20px;
    padding: 1% 4%;
}

#user-form-questionnaire {
    margin: 0 3%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#user-form-questionnaire h2 {padding: 2%;}

.field {padding: 2%; font-size: 20px; width: 100%; display: flex; justify-content: space-between;}
label {color: white; width: 30%;}
input {
    border: none;
    width: 50%;
    background-color: #0000;
    color: white;
}
input::placeholder {
    color: white;
    opacity: 1;
}
textarea {
    border: none;
    width: 50%;
    background-color: #0000;
    color: white;
}
textarea::placeholder {
    color:white;
    opacity: 1;
}
select {width: 50%;}

#submit-btn {
    color: white;
    font-size: 25px;
    border: 1px solid;
    border-color: white;
    background-color: #0000;
    width: 96%;
}
#submit-btn:hover {
    border-color: white;
    background-color: black;
    color: white;
}


/* Stories Add */
#stories-add {}
#stories-add-back {
    font-size: 30px;
    padding: 3%;
    color: #ababab;
}