/* Stories */
.stories-button {
    width: 90%;
    padding: 2% 5%;
    margin: 5% 0;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

#user-form-view {
    padding: 5%;
}

/* User form description */
#user-form-description {
    text-align: center;
    padding: 0 5% 5% 5%;
}

#user-form-questionnaire {
    padding: 0 5% 5% 5%;
    display: none;
    flex-direction: column;
    align-items: center;
}
#user-form-questionnaire form {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#user-form-questionnaire h1 {
    width: 50%;
    padding: 1%;
    margin-bottom: 0;
    border-bottom: solid 0.5px #F4F1EC;;
    text-align: center;
}

.field {padding: 2%; font-size: 20px; width: 100%; display: flex; justify-content: space-around;}
.field label {padding: 2%; width: 30%; }

.q-form {
    padding: 2%;
    border: 1px solid;
    width: 60%;
}
.q-form::placeholder {
    opacity: 1;
}
.field select {width: 60%; padding: 2%;}

/* Stories Add */
#stories-add {}
#stories-add-back {
    font-size: 30px;
    padding: 3%;
    color: #ababab;
}


@media screen and (max-width: 960px) {
    #user-form-questionnaire h1 {width: 60%;}
}
@media screen and (max-width: 740px) {
    #user-form-questionnaire h1 {width: 65%; font-size: 35px; margin-bottom: 20px;}
}
@media screen and (max-width: 570px) {
    #user-form-questionnaire h1 {width: 80%; font-size: 30px;}
}

@media screen and (max-width: 475px) {
    #user-form-questionnaire button {width: 96%;}
    .field {flex-direction: column;}
    .field label {width: 100%; padding: 2% 0%;}
    .field input {width: 100%;}
    .field textarea {width: 100%;}
    .field select {width: 100%;}
}