@media screen and (max-width: 950px) {
    p {font-size: 18px;}
    .title {font-size: 45px;}
    #numbers-title {font-size: 50px;}
    #contact-us-title {font-size: 85px;}

    #who-we-are {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #who-we-are-content {width: 90%;}
    #who-we-are-img {display: none;}
}

@media screen and (max-width: 820px) {
    p {font-size: 16px;}

    #main-fight {}
    #fights {flex-direction: column; align-items: center;}
    #main-fight-title {width: unset; text-align: center}
    .fight {align-items: center;}
    .fight-text {padding: 0%}

    .img {width: 15rem;}
    /*.fight {flex-direction: row;}*/
    /*.fight-img {display: none;}*/

    #numbers {
        background-position: right center;
        flex-direction: column;
    }
    #numbers-title {
        width: unset;
        height: unset;
        margin-left: 0%;
        text-align: center;
    }
    #numbers-content {
        display: block;
        height: 85%;
        width: 100%;
        margin-top: 5%;
    }
    .number-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .number-content-title {width: 50%; text-align: center;}
    .number-content-text {width: 50%;}

    #contact-us-title {font-size: 75px;}
}

@media screen and (max-width: 760px) {
    .number-content { flex-direction: column; }
    .number-content-text { text-align: center; }
    .number-content-title {font-size: 35px;}

    #navigation-title {font-size: 60px;}
    .navigation-btn {font-size: large;}
    .link-title {font-size: large;}

    #help-us-pay {
        flex-direction: column;
        align-items: center;
    }
    .help-us-text {
        width: 100%;
        text-align: center;
    }
    #help-us-developer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 760px) {
    #mane-page-title {font-size: 65px;}
    #online-group-img {display: none;}
}

@media screen and (max-width: 610px) {
    p {font-size: 15px;}

    #mane-page-title { font-size: 60px;}

    .number-content-title {font-size: 25px;}

    #contact-us-title {font-size: 65px;}
}

@media screen and (max-width: 570px) {
    .navigation-btn {width: 48%; padding: 5%;}
}

@media screen and (max-width: 430px) {
    p {font-size: 14px;}
    #mane-page-title {font-size: 65px;}

    #modal-title {font-size: 45px;}

    #numbers-title {font-size: 42px;}
    .number-content-title {font-size: 25px;}

    #contact-us-title{font-size: 50px;}
}

@media screen and (max-width: 380px) {
    .title {font-size: 40px;}
    #navigation-links {flex-direction: column;}
}
