body {font-family: "Cinzel", sans-serif;}
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: black;
    top:0;
}
.header-links {color: #F4F1EC}

/* Colors */
h1 {font-size: x-large;}
p {font-size: 16px;}
a {
    color: #ababab;
    text-decoration: none;
}
a:hover {color: #ababab;}
.color {color: #CBB2A4;}
.second-color {color: white;}
.b-color {background-color: #CBB2A4;}

/* Stories Add */
#stories-add {
    font-family: "Quicksand";
    font-size: 80px;
    padding: 3%;
}
#stories-add-back {
    font-family: "Quicksand";
    font-size: 30px;
    padding: 3%;
    color: #ababab;
}


/* Error */
#error {padding: 5%;}
#error-message {
    font-family: "Quicksand";
    font-size: 80px;
}
#error-back-href {
    font-family: "Quicksand";
    font-size: 40px;
    color: black;
}