{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="developers">
    <h1>For Developers</h1>
    <div>
        <p>
            If you are a developer and want to help us improve,
            we invite you to contribute to our open-source application on
            <a id="git" href="https://github.com/vladibuyanov/VOH">GitHub</a>.
        </p>
        <p>We appreciate any contributions and are grateful for your support in helping us become better!</p>
    </div>
</div>
{% endblock %}