{% load static %}

<div id="footer">
    <div id="footer-content">
        <div id="footer-contact">
            <a href="mailto::voicesofhopeutah@gmail.com">voicesofhopeutah@gmail.com</a>
            <a href="tel:+1(234)567-890">123-456-7890</a>
        </div>
        <div id="footer-social-networks">
            <a href="https://www.facebook.com/LillyJLandikusic">
                <img src="{% static 'img/svg/facebook.svg' %}" alt="">
            </a>
            <a id="git" href="https://github.com/vladibuyanov/VOH">
                <img src="{% static 'img/svg/git.svg' %}" alt="">
            </a>
        </div>
    </div>
<!--    <h6 class="second-color">Empowerment Community</h6>-->
</div>