{% load static %}
<div id="footer-contacts">
    <a href="mailto::voicesofhopeutah@gmail.com">voicesofhopeutah@gmail.com</a>
    <a href="/developers">for developers</a>
</div>
<div id="footer-social-networks">
    <a href="https://www.facebook.com/LillyJLandikusic">
        <img id='facebook' src="{% static 'img/svg/facebook.svg' %}" alt="">
    </a>
    <a href="https://www.digitalocean.com/?refcode=2248cfa8b285&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
        <img src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg" alt="DigitalOcean Referral Badge" />
    </a>
</div>
