<div id='mobile-nav'>
  <h3 class='second-color'>VOICES OF HOPE</h3>
  <button id="toggle-btn" class='second-color'>&#9776;</button>
</div>
<div id="nav">
  {% for key, value in menu.items %}
    {% if key != 'RESOURCES' %}
      <a href="{{ value }}" class='second-color'>{{ key }}</a>
    {% else %}
      <div class="dropdown">
      <a class="dropbtn second-color">{{ key }}</a>
      <div class="dropdown-content">
        {% for subkey, subvalue in value.items %}
        <a href="{{ subvalue }}" class="color">{{ subkey }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
