{% load static %}

<div id='mobile-nav'>
  <a href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
  <button id="toggle-btn" class='second-color'>&#9776;</button>
</div>
<div id="nav">
  <a href="/" id="nav-logo"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
  <div id="nav-bar">
    {% for key, value in menu.items %}
    {% if key != 'RESOURCES' %}
    <a href="{{ value }}" class='navbar-button second-color'>{{ key }}</a>
    {% else %}
    <div class="dropdown navbar-button">
      <a class="dropbtn second-color">{{ key }}</a>
      <div class="dropdown-content">
        {% for subkey, subvalue in value.items %}
        <a href="{{ subvalue }}" class="color">{{ subkey }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


