<header>
    <div style="display: flex; justify-content: space-evenly; align-items: center; flex-direction: row; height: 100%;">
        <a href="/" class='header-links second-color'>HOME</a>
        <a href="/library" class='header-links second-color'>LIBRARY</a>
        <a href="/stories" class='header-links second-color'>VOICES OF HOPE</a>
        <a href="/posts" class='header-links second-color'>POSTS</a>
        <a href="/help-us" class='header-links second-color'>HELP US</a>
    </div>
</header>