<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% include 'base_part/css.html' %}
</head>
<header>
    <div style="display: flex; justify-content: space-evenly; align-items: center; flex-direction: row; height: 100%;">
        <a href="/" class='header-links'>HOME</a>
        <a href="/links" class='header-links'>LINKS</a>
    </div>
</header>
<body style="margin-top: 50px;">
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'base_part/js.html' %}
</body>
</html>